.post_container {
    text-align: center;
    justify-content: center;
}

.post_images {
    background-size: cover;
    background-position: center;
    height: 225px;
    /* width: 100%; */
    margin-top: 1em;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
}