.post_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post_card_image {
    background-size: cover;
    background-position: center;
    height: 225px;
    width: 100%;
    margin-bottom: 1.2em;
}

